

# ── Kaggle ─────────────────────────────────────
# Récupère ta clé sur https://www.kaggle.com/settings → API
KAGGLE_USERNAME=ton_username_kaggle
KAGGLE_KEY=ta_clé_api_kaggle

# ── RAWG API ────────────────────────────────────
# Clé gratuite sur https://rawg.io/apidocs
RAWG_API_KEY=ta_clé_rawg

# ── PostgreSQL ──────────────────────────────────
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=savepoint
POSTGRES_USER=postgres
POSTGRES_PASSWORD=ton_mot_de_passe

# ── Airflow ─────────────────────────────────────
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://postgres:ton_mot_de_passe@localhost:5432/airflow


# ── AWS─────────────────────────────────────

AWS_ACCESS_KEY_ID=ton_access_key
AWS_SECRET_ACCESS_KEY=ta_secret_key
AWS_REGION=eu-west-3
S3_BUCKET_NAME=savepoint-datalake-bf